html, body {
    min-height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(121, 142, 155);
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

a {
    text-align: center;
    color: #000000;
}

footer {
    flex: none;
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    flex: none;;
    height: 700px;
    width: 700px;
    display: grid; 
    border: thick double rgb(190, 157, 47);
    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.reset {
    background-color: rgb(228, 152, 11);
    border: double black;
    border-radius: 8px;
    padding: 12px 64px;
    font-size: 24px;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.3);
}

.title-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    height: 100%;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 48px;
    border: thick double rgb(0, 0, 0);
    background-color: rgb(190, 157, 47);
    border-radius: 12px;
    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.3);
    padding: 48px;
    max-width: 350px;
}

.squares-input {
    border: thick double rgb(0, 0, 0);
    background-color: rgb(190, 157, 47);
    border-radius: 12px;
    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.3);
    padding: 24px;
}

.squares {
    font-size: 24px;
    width: 100px;
}

.button-section-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
}


ul {
    border: thick double rgb(0, 0, 0);
    background-color: rgb(190, 157, 47);
    padding: 24px 24px 24px 16px;
    margin: 24px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.3);
}


